@font-face {
   font-family: "Montserrat";
   font-weight: 600;
   font-style: normal;

   src: url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Montserrat";
   font-weight: normal;
   font-style: normal;

   src: url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Montserrat";
   font-weight: 500;
   font-style: normal;

   src: url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Montserrat";
   font-weight: 900;
   font-style: normal;

   src: url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Black.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Montserrat";
   font-weight: 300;
   font-style: normal;

   src: url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Light.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Montserrat";
   font-weight: bold;
   font-style: normal;

   src: url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Bold.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Rubik";
   font-weight: 500;
   font-style: normal;

   src: url("../fonts/rubik/Rubik-Medium.woff2") format("woff2"), url("../fonts/rubik/Rubik-Medium.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Sen";
   font-weight: bold;
   font-style: normal;

   src: url("../fonts/sen/Sen-Bold.woff2") format("woff2"), url("../fonts/sen/Sen-Bold.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Sen";
   font-weight: normal;
   font-style: normal;

   src: url("../fonts/sen/Sen-Regular.woff2") format("woff2"), url("../fonts/sen/Sen-Regular.woff") format("woff");
   font-display: swap;
}

.header {
   position: fixed;
   z-index: 100;
   top: 0;
   left: 0;

   width: 100%;
   padding-top: 8px;
   padding-bottom: 3px;

   background-color: rgba(255, 255, 255, .6);
}

.header__wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.logo {
   display: block;

   width: 287px;
   height: 75px;
}

.nav {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   max-width: 683px;

   gap: 35px;
}

.nav__link {
   font-size: 20.8531px;
   font-weight: 600;
   line-height: 25px;

   color: #50beff;
}

.burger-btn {
   position: absolute;
   top: 35px;
   right: 35px;

   display: none;

   width: 44px;
   height: 44px;
   padding: 16px 12px;

   cursor: pointer;

   border: 1px solid #50beff;
   border-radius: 12px;
   background-color: #50beff;
   -webkit-box-shadow: inset 2.36842px 2.36842px 5.52632px rgba(136, 165, 191, .48);
           box-shadow: inset 2.36842px 2.36842px 5.52632px rgba(136, 165, 191, .48);
}

.burger-line {
   width: 100%;
   height: 2px;
   margin-bottom: 3px;

   border-radius: 2px;
   background-color: #fff;
   -webkit-box-shadow: inset .394737px .394737px .394737px rgba(33, 68, 104, .4), inset -.394737px -.394737px .394737px rgba(255, 255, 255, .4);
           box-shadow: inset .394737px .394737px .394737px rgba(33, 68, 104, .4), inset -.394737px -.394737px .394737px rgba(255, 255, 255, .4);
}

.burger-line--min {
   width: 8px;
   margin-bottom: 0;
}

.hero {
   background-image: url("../images/hero-bg.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-size: 100% 100%;
}

.hero__wrapper {
   position: relative;

   padding-top: 239px;
   padding-bottom: 182px;
}

.contacts-list {
   position: absolute;
   top: 130px;
   right: 0;
}

.contacts-list__item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   width: 280px;
   height: 52px;
   margin-bottom: 9px;

   border-radius: 10px;
   background: #3287bf;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.contacts-list__link {
   font-size: 20.8531px;
   font-weight: 600;
   font-style: normal;
   line-height: 25px;

   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   width: 100%;
   padding: 14px 6px 14px 12px;

   color: #fff;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.contacts-list__img {
   width: 48px;
   height: 49px;

   border-radius: 50%;
}

.title {
   font-size: 56.8px;
   font-weight: 700;
   line-height: 69px;

   max-width: 750px;
   margin-top: 0;
   margin-bottom: 88px;

   text-transform: uppercase;

   color: #fff;
}

.hero__form {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.hero__input {
   font-size: 25.3239px;
   font-weight: 600;
   font-style: normal;
   line-height: 31px;

   padding: 15px 30px 24px 30px;

   color: rgb(255, 255, 255);
   border: 2px solid rgba(255, 255, 255, .6);
   border-radius: 10px;
   background: rgba(164, 234, 255, .5);

   -webkit-backdrop-filter: blur(5.5px);
           backdrop-filter: blur(5.5px);
}

.hero__input::-webkit-input-placeholder {
   color: rgba(255, 255, 255, .6);
}

.hero__input::-moz-placeholder {
   color: rgba(255, 255, 255, .6);
}

.hero__input:-ms-input-placeholder {
   color: rgba(255, 255, 255, .6);
}

.hero__input::-ms-input-placeholder {
   color: rgba(255, 255, 255, .6);
}

.hero__input::placeholder {
   color: rgba(255, 255, 255, .6);
}

.hero__buttles {
   position: absolute;
   right: 0;
   bottom: 0;

   max-width: 526px;
}

.section-title__selection {
   display: block;

   color: #ec1f3a;
}

.reason__slider {
   overflow: hidden;
}

.reason__list {
   padding-left: 0;

   counter-reset: reason-counter;
}

.reason__item {
   position: relative;

   width: 26%;
   padding: 15px;

   list-style: none;
}

.reason__item:before {
   font-size: 57.2727px;
   font-weight: 700;
   line-height: 70px;

   position: absolute;
   top: 0;
   left: 0;

   display: block;

   width: 31px;
   height: 45px;

   content: counter(reason-counter);
   counter-increment: reason-counter;

   color: #ec1f3a;
}

.reason__img {
   display: block;

   width: 160px;
   height: 174px;
   margin-bottom: 44px;
}

.reason__description {
   font-size: 14px;
   font-weight: 400;
   line-height: 17px;

   color: #000;
}

.calculate {
   position: relative;

   padding-top: 115px;
   padding-bottom: 115px;
}

.calculate__bg {
   position: absolute;
   top: 0;
   left: 0;

   width: 100%;
   height: 120%;

   background-image: url("../images/calculate-bg.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-size: 100% 100%;
}

.calculator {
   max-width: 945px;
   margin: 0 auto;
   padding: 60px 60px 80px;

   border-radius: 26.8531px;
   background-color: #fff;

   -webkit-backdrop-filter: blur(64.8613px);
           backdrop-filter: blur(64.8613px);
}

.calculator__title {
   font-size: 52.7426px;
   font-weight: 600;
   line-height: 64px;

   margin-bottom: 36px;

   color: #000;
}

.calculator__item-wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   margin-bottom: 79px;

   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: start;
   -ms-flex-align: start;
   align-items: start;
}

.calculator__item {
   position: relative;

   width: 25%;
   padding-right: 36px;
   padding-left: 36px;
}

.calculator__item:first-child {
   padding-left: 0;
}

.calculator__item:last-child {
   padding-right: 0;
}

.calculator__item::before {
   position: absolute;
   top: 0;
   right: 0;

   display: block;

   width: 1px;
   height: 111px;

   content: "";

   background-color: #50beff;
}

.calculator__item:last-child::before {
   display: none;
}

.calculator__question {
   font-size: 16.5763px;
   font-weight: 400;
   line-height: 20px;

   min-height: 45px;
   margin-top: 0;
   margin-bottom: 20px;

   text-transform: uppercase;

   color: #000;
}

.calculator__question-wrapper {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
       flex-direction: column;

   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   gap: 20px;
}

.calculator__question-label {
   font-family: "Montserrat", sans-serif;
   font-size: 12.7052px;
   font-weight: 500;
   font-style: normal;
   line-height: 15px;

   display: inline-block;

   padding: 8px 30px;

   cursor: pointer;
   -webkit-transition: .3s background-color ease, .3s color ease, .3s opacity ease;
        -o-transition: .3s background-color ease, .3s color ease, .3s opacity ease;
           transition: .3s background-color ease, .3s color ease, .3s opacity ease;
   text-align: center;
   text-transform: uppercase;

   color: #000;
   border: 1px solid #50beff;
   border-radius: 9.20903px;
}

.calculator__question-label:hover {
   opacity: .5;
   color: #fff;
   background-color: #50beff;
}

.calculator__question-label--active {
   color: #fff;
   background-color: #50beff;
}

.calculator__item-radio {
   display: none;
}

.counter-block {
   margin-bottom: 18px;

   text-align: center;
}

.calculator__subscription {
   display: block;

   width: 100%;

   text-align: center;
}

.btn-counter {
   font-family: "Sen", sans-serif;
   font-size: 22.1017px;
   font-weight: 400;
   font-style: normal;
   line-height: 28px;

   cursor: pointer;
   -webkit-transition: .3s color ease;
        -o-transition: .3s color ease;
           transition: .3s color ease;
   text-align: center;

   color: #8399a9;
   border: none;
   background-color: transparent;
}

.btn-counter:hover {
   color: #000;
}

.counter__number {
   font-family: "Sen", sans-serif;
   font-size: 16.5763px;
   font-weight: 700;
   font-style: normal;
   line-height: 28px;

   width: 40.35px;
   height: 40.35px;
   padding: 6px 14px;

   text-align: center;

   color: #000;
   border: 1px solid #50beff;
   border-radius: 8.07038px;
}

.calculator__info-description {
   font-size: 12.8788px;
   font-weight: 400;
   line-height: 16px;

   color: #000;
}

.calculator__info-img {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   width: 20px;
   height: 34px;

   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.calculator__info-price,
.calculator__info-count {
   font-size: 24px;
   font-weight: 600;
   line-height: 29px;

   color: #000;
}

.calculator__footer {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.calculator__info {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 40px;
}

.calculator__info-item {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 20px;
}

.calculator__info-result {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 12px;
}

.calculator__info-description {
   max-width: 168px;
}

.catalog {
   position: relative;
   z-index: 10;

   padding-bottom: 120px;
}

.catalog__bg {
   position: absolute;
   z-index: -1;
   top: 38%;
   left: 0;

   display: block;

   width: 100%;
   height: 62%;

   background-image: url("../images/catalog-bg.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-size: 100% 100%;
}

.catalog__navigation-slider {
   max-width: 722px;
   margin-bottom: 69px;
   margin-left: 0;
   padding-bottom: 48px;
}

.catalog__navigation-item {
   font-family: "Rubik", sans-serif;
   font-size: 18px;
   font-weight: 500;
   font-style: normal;
   line-height: 180%;

   width: auto !important;
   min-width: 108px;
   padding: 14px 30px;

   cursor: pointer;
   -webkit-transition: .3s background-color ease, .3s color ease;
        -o-transition: .3s background-color ease, .3s color ease;
           transition: .3s background-color ease, .3s color ease;
   text-align: center;

   color: #000;
   border: 1px solid #000;
   border-radius: 10px;
   background: -o-linear-gradient(356.42deg, rgba(255, 255, 255, 0) -.02%, rgba(255, 255, 255, .4) 99.98%), #f2f2f2;
   background:    linear-gradient(93.58deg, rgba(255, 255, 255, 0) -.02%, rgba(255, 255, 255, .4) 99.98%), #f2f2f2;
   -webkit-box-shadow: 6px 10px 25px rgba(0, 0, 0, .1);
           box-shadow: 6px 10px 25px rgba(0, 0, 0, .1);
}

.catalog__navigation-item:hover {
   color: #fff;
   background-color: #50beff;
}

.catalog__navigation-item--active {
   color: #fff;
   background-color: #50beff;
}

.catalog__item {
   padding: 12px;

   border: 1px solid #000;
   border-radius: 10px;
   background-color: #fff;
}

.catalog__info {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.catalog__item-img {
   display: block;

   width: 188px;
   height: 228px;
   margin: 0 auto 17px auto;
}

.catalog__item-title {
   font-size: 32.531px;
   font-weight: 700;
   line-height: 46px;

   margin-top: 0;
   margin-bottom: 8px;

   color: #262626;
}

.catalog__price-block {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   margin-bottom: 22px;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 30px;
}

.catalog__item-price {
   font-size: 35.4039px;
   font-weight: 300;
   font-style: normal;
   line-height: 51px;

   color: #000;
}

.counter-block--catalog {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   margin-bottom: 0;

   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.btn-counter--catalog {
   color: #000;
}

.quantity--catalog {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   width: 44px;
   height: 44px;

   color: #000;
   border: 1px solid #000;
   border-radius: 8.76355px;

   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.description {
   position: relative;
   z-index: 10;

   padding-bottom: 100px;
}

.section-title {
   max-width: 952px;
}

.section-title--uppercase {
   text-transform: uppercase;
}

.description__text {
   font-size: 24px;
   font-weight: 400;
   line-height: 29px;

   margin-bottom: 68px;

   color: #000;
}

.btn--send {
   font-family: "Rubik", sans-serif;
   font-size: 18px;
   font-weight: 500;
   font-style: normal;
   line-height: 180%;

   display: none;

   margin: 0 auto;
   padding: 15px 30px;

   -webkit-transition: .3s background-color ease, .3s color ease;
        -o-transition: .3s background-color ease, .3s color ease;
           transition: .3s background-color ease, .3s color ease;
   text-align: center;

   color: #000;
   border: 1px solid #000;
   border-radius: 10px;
   background: -o-linear-gradient(356.42deg, rgba(255, 255, 255, 0) -.02%, rgba(255, 255, 255, .4) 99.98%), #fff;
   background:    linear-gradient(93.58deg, rgba(255, 255, 255, 0) -.02%, rgba(255, 255, 255, .4) 99.98%), #fff;
   -webkit-box-shadow: 6px 10px 25px rgba(0, 0, 0, .1);
           box-shadow: 6px 10px 25px rgba(0, 0, 0, .1);
}

.btn--send:hover {
   color: #fff;
   background-color: #50beff;
}

.description__text--more {
   overflow: hidden;
}

.dn {
   display: none !important;
}

* {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;

   position: relative;

   background-color: #e2f2f2;
}

.container {
   max-width: 1253px;
   margin: 0 auto;
   padding-right: 30px;
   padding-left: 30px;
}

a {
   -webkit-transition: .3s opacity ease;
        -o-transition: .3s opacity ease;
           transition: .3s opacity ease;
   text-decoration: none;
}

a:hover {
   opacity: .5;
}

picture,
img {
   display: block;
}

img {
   display: block;

   width: 100%;
}

ul {
   margin: 0;
   padding: 0;

   list-style: none;
}

button {
   cursor: pointer;
}

.btn-send {
   font-size: 25.3239px;
   font-weight: 900;
   font-style: normal;
   line-height: 31px;

   z-index: 10;

   margin-left: -20px;
   padding: 20px 40px;

   cursor: pointer;
   -webkit-transition: .3s -webkit-box-shadow ease;
        -o-transition: .3s box-shadow ease;
           transition: .3s -webkit-box-shadow ease;
           transition: .3s box-shadow ease;
           transition: .3s box-shadow ease, .3s -webkit-box-shadow ease;
   text-transform: uppercase;

   color: #fff;
   border: 2px solid #ec1f3a;
   border-radius: 10px;
   background: #ec1f3a;
}

.btn-send:hover {
   -webkit-box-shadow: 0 5px 23px 20px rgba(236, 31, 58, .2);
           box-shadow: 0 5px 23px 20px rgba(236, 31, 58, .2);
}

.btn-send--calculate {
   font-size: 16.4839px;
   line-height: 20px;

   max-width: 225px;
   margin-left: 0;
   padding: 12px 58px;

   text-align: center;
}

.btn-send--catalog {
   width: 100%;
   margin-left: 0;
}

.section-title {
   font-size: 57.2727px;
   font-weight: 700;
   line-height: 70px;

   margin-top: 0;
   margin-bottom: 70px;

   color: #000;
}

@media (max-width: 1200px) {
   .nav {
      gap: 30px;
   }

   .nav__link {
      font-size: 18px;
   }
}

@media (max-width: 1199px) {
   .hero__buttles {
      max-width: 400px;
   }

   .hero__input {
      font-size: 20px;
      line-height: 28px;

      padding: 16px 30px;
   }

   .calculator__title {
      font-size: 50px;

      margin-top: 0;
   }

   .description__text {
      font-size: 22px;

      margin-bottom: 52px;
   }

   .title {
      font-size: 40px;
      line-height: 60px;

      max-width: 530px;
   }

   .section-title {
      font-size: 38px;
      line-height: 50px;
   }

   .btn-send {
      font-size: 20px;
      line-height: 28px;

      padding: 16px 30px;
   }

   .contacts-list__link {
      font-size: 18px;

      gap: 20px;
   }

   .contacts-list__item {
      width: auto;
   }
}

@media (max-width: 1024px) {
   .logo {
      width: 260px;
      height: auto;
   }
}

@media (max-width: 992px) {
   .nav {
      gap: 26px;
   }

   .nav__link {
      font-size: 16px;
   }

   .hero {
      overflow: hidden;
   }

   .hero__buttles {
      max-width: 300px;
   }

   .hero__input {
      max-width: 280px;
      padding: 14px 24px;
   }

   .hero__wrapper {
      padding-top: 170px;
      padding-bottom: 170px;
   }

   .reason__img {
      width: 128px;
      height: auto;
   }

   .swiper-pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 10px;
   }

   .swiper-pagination-bullet {
      display: block;

      width: 10px;
      height: 10px;

      background-color: #50beff;
   }

   .swiper-pagination-bullet {
      margin: 0 !important;
   }

   .swiper-pagination-bullet-active {
      margin-top: -10px !important;
   }

   .calculate {
      padding-right: 10px;
      padding-left: 10px;
   }

   .calculator__title {
      font-size: 48px;
   }

   .calculator__question {
      font-size: 16px;
   }

   .description__text {
      font-size: 18px;
      line-height: 22px;

      margin-bottom: 60px;
   }

   .title {
      font-size: 30px;
      line-height: 46px;

      max-width: 390px;
   }

   .section-title {
      font-size: 28px;
      line-height: 40px;
   }

   .btn-send {
      padding: 14px 24px;
   }

   .contacts-list__link {
      font-size: 16px;

      gap: 18px;
   }

   .contacts-list__img {
      width: 40px;
      height: 40px;
   }
}

@media (max-width: 976px) {
   .catalog__navigation {
      gap: 10px;
   }

   .catalog__navigation-item {
      font-size: 16px;
   }

   .catalog__item-title {
      font-size: 26px;
   }

   .catalog__item-price {
      font-size: 32px;
   }

   .catalog__item-img {
      width: 146px;
      height: 147px;
      margin-bottom: 18px;
   }

   .container--catalog {
      padding-right: 0;
      padding-left: 0;
   }
}

@media (max-width: 860px) {
   .header {
      padding-top: 39px;
      padding-bottom: 20px;
   }

   .burger-btn {
      display: block;
   }

   .nav {
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;

      position: fixed;
      top: 0;
      right: -100%;

          flex-direction: column;

      width: 100%;
      max-width: 320px;
      padding: 20px;

      color: #fff;
      border-radius: 5px;
      background-color: #50beff;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      gap: 20px;
   }

   .nav__link {
      color: #fff;
   }
}

@media (max-width: 800px) {
   .hero__input {
      line-height: 1;

      max-width: 280px;
      padding: 12px 22px;
   }

   .reason__list {
      margin-bottom: 48px;
   }

   .reason__description {
      font-size: 9.35012px;
      line-height: 11px;
   }

   .reason__item {
      padding: 5px;
   }

   .reason__item:before {
      display: none;
   }

   .reason__img {
      width: 71px;
      height: 78px;
      margin-bottom: 12px;
   }

   .calculate__bg {
      height: 100%;
   }

   .calculator__title {
      font-size: 46px;
   }

   .calculator__question {
      font-size: 14px;

      text-align: center;
   }

   .calculator__item {
      padding-right: 10px;
      padding-left: 10px;
   }

   .calculator__question-wrapper {
      gap: 14px;
   }

   .calculator__info-item {
      gap: 14px;
   }

   .calculator__info {
      gap: 20px;
   }

   .btn-send {
      font-size: 20px;
      line-height: 1;

      padding: 14px 22px;
   }
}

@media (max-width: 768px) {
   .header {
      padding-top: 39px;

      background-color: #fff;
   }

   .logo {
      width: 120px;
      height: 31px;
   }

   .hero {
      padding-bottom: 40px;
   }

   .hero__wrapper {
      padding-top: 120px;
      padding-bottom: 120px;
   }

   .hero__input {
      font-size: 18px;

      max-width: 34%;
      padding: 10px 20px;
   }

   .hero__buttles {
      bottom: -52px;

      max-width: 264px;
   }

   .calculator__title {
      font-size: 28px;

      margin-bottom: 30px;
   }

   .calculator__item-wrapper {
      margin-bottom: 48px;
   }

   .description__text--more {
      display: none;

      height: 0;

      -webkit-transition: .3s height ease;
           -o-transition: .3s height ease;
              transition: .3s height ease;
   }

   .btn--send {
      display: block;
   }

   .title {
      margin-bottom: 60px;
   }

   .section-title {
      margin-bottom: 40px;
   }

   .btn-send {
      font-size: 18px;

      padding: 12px 20px;
   }

   .contacts-list__item {
      height: auto;
   }

   .contacts-list__link {
      font-size: 14px;
      line-height: 1;

      padding: 6px 14px;
   }

   .contacts-list__img {
      width: 30px;
      height: 30px;
   }
}

@media (max-width: 674px) {
   .hero__buttles {
      bottom: 20px;
   }

   .calculator {
      padding: 24px 28px 14px;

      border: 2px solid #50beff;
      border-radius: 10px;
      -webkit-box-shadow: inset 1.03906px 2.59766px 1.03906px rgba(255, 255, 255, .5), inset -1.03906px 2.59766px 1.03906px rgba(255, 255, 255, .5), inset 0 1.03906px 1.03906px rgba(255, 255, 255, .5);
              box-shadow: inset 1.03906px 2.59766px 1.03906px rgba(255, 255, 255, .5), inset -1.03906px 2.59766px 1.03906px rgba(255, 255, 255, .5), inset 0 1.03906px 1.03906px rgba(255, 255, 255, .5);
   }

   .calculator__item-wrapper {
          flex-direction: column;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      gap: 22px;
   }

   .calculator__title {
      margin-bottom: 10px;
   }

   .calculator__item {
      width: 100%;
   }

   .calculator__item::before {
      display: none;
   }

   .calculator__question-wrapper {
          flex-direction: row;

      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
   }

   .calculator__question {
      min-height: auto;
      margin-bottom: 18px;

      text-align: left;
   }

   .calculator__question-label {
      width: 48%;
   }

   .calculator__item--in-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }

   .counter-block {
      margin-bottom: 14px;
   }

   .calculator__footer {
          flex-direction: column;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 30px;
   }

   .calculator__info {
          flex-direction: column;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
   }

   .calculator__info-item {
      gap: 22px;
   }

   .calculator__info-description {
      max-width: 162px;
   }

   .contacts-list {
      display: none;
   }

   .btn-send--calculate {
      width: 60%;
      margin: 0 auto;
   }
}

@media (max-width: 610px) {
   .hero__buttles {
      right: -48px;
   }
}

@media (max-width: 576px) {
   .hero {
      background-size: 100% auto;
   }

   .hero__wrapper {
      padding-top: 200px;
   }

   .hero__top-bg {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;

      width: 100%;
      height: 280px;

      background-color: #fff;
   }

   .hero__wrapper {
      padding-top: 260px;
   }

   .hero__form {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
   }

   .hero__input {
      font-size: 14.3135px;
      font-weight: 600;
      line-height: 17px;

      width: 100%;
      max-width: 100%;
      padding: 10px 14px;

      border: 1px solid #fff;
      border-radius: 5.65217px;
      background: rgba(164, 234, 255, .5);

      -webkit-backdrop-filter: blur(3.1087px);
              backdrop-filter: blur(3.1087px);
   }

   .hero__input::-webkit-input-placeholder {
      color: #47a4dc;
   }

   .hero__input::-moz-placeholder {
      color: #47a4dc;
   }

   .hero__input:-ms-input-placeholder {
      color: #47a4dc;
   }

   .hero__input::-ms-input-placeholder {
      color: #47a4dc;
   }

   .hero__input::placeholder {
      color: #47a4dc;
   }

   .hero__form {
      position: relative;
      bottom: -48px;
   }

   .hero__buttles {
      bottom: 94px;
   }

   .reason .container--reason {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
   }

   .reason__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
          flex-direction: column;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }

   .reason__img {
      margin-bottom: 0;
   }

   .swiper-wrapper.reason__list {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
   }

   .reason__item.swiper-slide {
      width: 165px !important;
   }

   .calculate__bg {
      top: 50%;

      height: 50%;

      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
   }

   .calculator__counter-info {
      width: 122px;
   }

   .btn--send {
      padding-top: 14px;
      padding-bottom: 14px;
   }

   .title {
      font-size: 23.8607px;
      line-height: 29px;

      max-width: 280px;
      margin-bottom: 90px;
   }

   .section-title {
      font-size: 29.4545px;
      font-weight: 600;
      line-height: 36px;

      margin-bottom: 30px;
   }

   .btn-send {
      font-size: 14.3135px;
      line-height: 17px;

      padding: 10px 14px;
   }

   .btn-send--hero {
      position: absolute;
      right: 0;

      width: 48%;
   }

   .btn-send--calculate {
      position: static;
   }
}

@media (max-width: 505px) {
   .hero {
      background-position-y: 132px;
   }

   .hero__wrapper {
      padding-top: 214px;
   }

   .hero__buttles {
      right: -46px;
      bottom: 100px;

      max-width: 200px;
   }
}

@media (max-width: 400px) {
   .hero__wrapper {
      padding-top: 193px;
   }
}

@media (max-width: 380px) {
   .calculator {
      padding: 10px;
   }

   .calculator__title {
      line-height: 1;

      margin-bottom: 20px;
   }

   .title {
      font-size: 20px;
   }
}
